.text {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	height: 35px
}
label {
	display: inline-block;	
    text-align: center;
	width: 100%;
	font-size: 15px;
}
[href="https://educationperth.elearninglogin.com/login_iframe#"] {
	display: inline-block;	
    text-align: center;
	width: 100%;
	font-size: 15px;
}
#forgot_pword_form {
	background-color: white;
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	width: 80%
}
input {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
	background-color: white;
    text-align: left;
    font-family: "DejaVu Sans","trebuchet ms",Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1em;
    color: #333;
}
element.style {
    margin: auto;
    padding: 0;
}
body {
    display: block;
}

